*{
  
    
}
body{
    margin: 5px;
    padding: 5px;
}
header{
background-color: rgb(255, 255, 255);
height: 200px;
width: 100%;
align-items: flex-start;
display:flex ;
justify-content: center;

}
img{
    height: 128px;
    width: 128px;
 
    
}
.form-inline{
   
    display: flex;
    justify-content: flex-end;
    flex-flow: row wrap;    
}

nav{
  background-color: rgb(255, 255, 255);
}
.navbar-brand{
    
   color: black;
}
a:hover{
    color: black;
}
.entrar{
    color: white;
}
.entrar:hover{
    color: white;
}

form{
width: 600px;

}
.formulario {
    position: relative;
    top: 25px;
    display: flex;
    justify-content: center;
}